body {
    max-width: 100%;
    transition: all 0.2s ease;
    margin: 0;
}

.header {
    position: fixed;
    background: linear-gradient(270deg, red, blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Impact;
    margin: -8px;
    letter-spacing: 2px;
    z-index: 1;
    width: 101%;
    top: 0;
}

.dropdown {
    background: white;
    color: white;
    border-radius: 20px;
    margin-left: 20px;
}

.drop-button {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    border: 3px solid red;
}

.drop-button img {
    width: 50px;
    height: 50px;
}

.dropdown-content {
    position: absolute;
    top: 110px;
    left: 20px;
    display: none;    
    background-color: white;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
    transform: scale(1.01);
    border-radius: 30px;
    border: 5px solid transparent;
    background: linear-gradient(white, white)
    padding-box,
        linear-gradient(270deg, red, blue) border-box;
    box-shadow: 5px 5px 10px black;
    font-size: 30px;
}

.dropdown-content a {
    font-family: Cambria;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
    text-align: center;
}

.dropdown-content hr {
    margin: 0;
}

.dropdown-content a:hover {
    background: linear-gradient(270deg, red, blue);
    color: white;
    transform: scale(1.1);
    transition: all 0.2s ease;
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: all 0.2s ease;
}

.dropdown:hover .drop-button {
    background: blue;
    box-shadow: 2px 2px 5px black;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.website-name-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.website-name-logo h1 {
    margin: 27px 0;
    color: white;
    font-size: 60px;
    margin-right: 10px;
    padding-bottom: 8px;
}

.website-name-logo h1:hover {
    color: red;
    text-shadow: 2px 2px 5px black;
    transition: all 0.2s ease;
}

.website-name-logo img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.header .website-name-logo img:hover {
    border: 2px solid transparent;
    transform: scale(1.3);
    background: linear-gradient(white, white)
    padding-box,
        linear-gradient(270deg, red, blue) border-box;
    box-shadow: 5px 5px 10px black;
    transition: all 0.2s ease;
}

.navigation-bar-top {
    visibility: hidden;
    margin-right: 20px;
}

.navigation-bar-top button {
    width: 60px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    margin: 10px;
    border: 3px solid blue;
}

.navigation-bar-top button:hover {
    transform: scaleY(1.1);
    box-shadow: 3px 3px 5px black;
    transition: all 0.2s ease;
}

.navigation-bar-top img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.news-headline {
    margin: 10px -8px;
    font-family: Helvetica;
    font-style: italic;
    background-color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 101%;
    font-size: 25px;
    margin-top: 150px;
}

.news-headline marquee .webname {
    font-weight: bold;
}

.banner {
    text-align: center;
    margin: 10px;
}

.banner img {
    width: 60%;
}

.banner img:hover {
    transform: scale(1.01);
    border-radius: 30px;
    border: 5px solid transparent;
    transition: all 0.2s ease;
    background: linear-gradient(white, white)
    padding-box,
        linear-gradient(270deg, red, blue) border-box;
    box-shadow: 5px 5px 10px black;
}

.introduction {
    font-family: Cambria;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: -1px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

.introduction h2 {
    display: inline-block;
    margin: 0px;
    word-spacing: 5px;
}

.introduction h2:hover {
    color: red;
    text-shadow: 2px 2px 5px black;
    transition: all 0.2s ease;
}

.introduction p {
    text-indent: 50px;
    font-size: 30px;
    margin-top: 20px;
    font-weight: lighter;
    word-spacing: 5px;
}

.collection {
    text-align: center;
    font-family: Cambria;
}

.collection h2 {
    font-size: 30px;
}

.collection .posters {
    display: grid;
    column-gap: 0px;
    row-gap: 20px;
    grid-template-columns: auto auto auto auto auto;
}

.collection .posters img {
    width: 230px;
    height: 391px;
    object-fit: cover;
    border-radius: 20px;
}

.collection .posters img:hover {
    transform: scale(1.01);
    border: 5px solid transparent;
    transition: all 0.2s ease;
    background: linear-gradient(white, white)
    padding-box,
        linear-gradient(270deg, red, blue) border-box;
    box-shadow: 5px 5px 10px black;
}

.collection .posters h3 {
    margin: 5px 0;
}

.collection .posters h3 a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.collection .posters h3 a:hover {
    color: red;
    text-decoration: underline;
    transition: all 0.2s ease;
}

.collection .posters span {
    font-size: 20px;
}

footer {
    background: linear-gradient(270deg, red, blue);
    background-color: transparent;
    backdrop-filter: blur(5px);
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px -8px -8px -8px;
    font-family: Impact;
}

@media  screen and (max-width: 1220px) {
    .banner img {
        width: 70%;
    }

    .introduction h2 {
        font-size: 40px;
    }

    .introduction p {
        font-size: 30px;
    }

    .collection .posters {
        display: grid;
        column-gap: 0px;
        row-gap: 40px;
        grid-template-columns: auto auto auto auto;
    }

    .collection .posters img {
        width: 230px;
        height: 391px;
        object-fit: cover;
        border: 1px solid transparent;
        border-radius: 20px;
    }
}

@media screen and (max-width: 925px) {
    .header {
        position: relative;
    }

    .drop-button {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .drop-button img {
        width: 30px;
        height: 30px;
    }

    .dropdown-content {
        top: 95px;
        width: 700px;
    }

    .website-name-logo h1 {
        font-size: 40px;
    }

    .website-name-logo img {
        width: 40px;
        height: 40px;
    }

    .navigation-bar-top {
        width: 10%;
    }

    .news-headline {
        margin-top: 10px;
    }

    .banner {
        width: 100%;
    }

    .introduction h2 {
        font-size: 30px;
    }

    .introduction p {
        font-size: 25px;
    }

    .collection h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .collection .posters {
        display: grid;
        column-gap: 0px;
        row-gap: 40px;
        grid-template-columns: auto auto auto;
    }

    .collection .posters img {
        width: 200px;
        height: 340px;
    }
}

@media screen and (max-width: 630px) {
    .collection .posters {
        display: grid;
        column-gap: 0px;
        row-gap: 20px;
        grid-template-columns: auto auto auto;
    }

    .collection .posters img {
        width: 100px;
        height: 170px;
    }
}

@media screen and (max-width: 720px) {
    .drop-button {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid red;
    }

    .drop-button img {
        width: 20px;
        height: 20px;
    }

    .dropdown-content {
        top: 60px;
        width: 500px;
    }
    
    .dropdown-content a {
        font-size: 20px;
    }

    .website-name-logo h1 {
        font-size: 30px;
        margin: 0px;
        padding: 5px;
    }

    .website-name-logo img {
        display: none;
    }

    .navigation-bar-top {
        margin: 0px;
    }

    .navigation-bar-top button {
        width: 10px;
        height: 10px;
        margin: 15px;
    }

    .navigation-bar-top button img {
        width: 10px;
        height: 10px;
    }

    .news-headline {
        margin-top: 10px;
        font-size: 15px;
    }

    .banner img {
        width: 90%;
    }

    .introduction {
        margin: 10px;
    }

    .introduction h2 {
        font-size: 20px;
    }

    .introduction p {
        font-size: 15px;
    }

    .collection h2 {
        font-size: 20px;
        margin-bottom: 0;
    }

    .collection .posters {
        display: grid;
        column-gap: 0px;
        row-gap: 20px;
        grid-template-columns: auto auto auto auto;
    }

    .collection .posters img {
        width: 80px;
        height: 136px;
    }

    .collection .posters img:hover {
        border: 2px solid transparent;
    }

    .collection .posters h3 a {
        display: none;
    }

    .collection .posters span {
        display: none;
    }

    hr {
        margin: 0px;
    }

    footer {
        font-size: 15px;
    }
}
